{
  "extends": ["stylelint-config-recommended"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "layer",
          "responsive",
          "variants",
          "screen",
          "import",
          "include",
          "mixin",
          "function",
          "return",
          "each",
          "for",
          "if",
          "else",
          "while",
          "warn",
          "error",
          "debug"
        ]
      }
    ],
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": [
          "prefers-contrast"
        ]
      }
    ],
    "media-feature-name-value-no-unknown": null,
    "font-family-name-quotes": "always-where-recommended"
  }
}
